// SPDX-License-Identifier: Apache-2.0
// Copyright 2021 IBM Corp.

/dts-v1/;

/ {
	compatible = "aspeed,ast2600";
	#address-cells = <1>;
	#size-cells = <1>;

	aliases {
		vuart = &vuart1;
		vuart1 = &vuart1;
		vuart2 = &vuart2;
		wdt1 = &wdt1;
		wdt2 = &wdt2;
		wdt3 = &wdt3;
		wdt4 = &wdt4;
		wdt5 = &wdt5;
		wdt6 = &wdt6;
		wdt7 = &wdt7;
		wdt8 = &wdt8;
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x80000000>;
	};

	ahb {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		sram: sram@10000000 {
			compatible = "mmio-sram";
			reg = <0x10000000 0x10000>;	// 64K
		};

		bus-controller@1e600000 {
			compatible = "aspeed,ast2600-ahb-controller";
			reg = <0x1e600000 0x10000>;
		};

		apb {
			compatible = "simple-bus";
			#address-cells = <1>;
			#size-cells = <1>;

			syscon: syscon@1e6e2000 {
				compatible = "aspeed,ast2600-scu", "syscon", "simple-mfd";
				reg = <0x1e6e2000 0x1000>;
			};

			wdt1: watchdog@1e785000 {
				compatible = "aspeed,ast2600-wdt";
				reg = <0x1e785000 0x40>;
			};

			wdt2: watchdog@1e785040 {
				compatible = "aspeed,ast2600-wdt";
				reg = <0x1e785040 0x40>;
			};

			wdt3: watchdog@1e785080 {
				compatible = "aspeed,ast2600-wdt";
				reg = <0x1e785080 0x40>;
			};

			wdt4: watchdog@1e7850c0 {
				compatible = "aspeed,ast2600-wdt";
				reg = <0x1e7850c0 0x40>;
			};

			wdt5: watchdog@1e785100 {
				compatible = "aspeed,ast2600-wdt";
				reg = <0x1e785100 0x40>;
			};

			wdt6: watchdog@1e785140 {
				compatible = "aspeed,ast2600-wdt";
				reg = <0x1e785140 0x40>;
			};

			wdt7: watchdog@1e785180 {
				compatible = "aspeed,ast2600-wdt";
				reg = <0x1e785180 0x40>;
			};

			wdt8: watchdog@1e7851c0 {
				compatible = "aspeed,ast2600-wdt";
				reg = <0x1e7851c0 0x40>;
			};

			vuart1: serial@1e787000 {
				compatible = "aspeed,ast2600-vuart";
				reg = <0x1e787000 0x40>;
			};

			vuart2: serial@1e788000 {
				compatible = "aspeed,ast2600-vuart";
				reg = <0x1e788000 0x40>;
			};
		};
	};
};
